@tailwind base;
@tailwind components;
@tailwind utilities;



.menu-container {
    background-color: lightgrey;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    z-index: 100;
    position: absolute;
    width: 200px;
    height: 100vh;
    overflow-y: auto; /* In case the menu items exceed the screen height */
}

.menu-container.block {
    opacity: 1;
    transform: translateX(0);
}

.menu-container.hidden {
    opacity: 0;
    transform: translateX(100%);
}
